* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.banner{
    background-color: #2c423f;
    display: flex;
    height: 1200px;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}


h1  {
    color: #c5c5c5;
    font-family: 'Raleway', sans-serif; ;
    font-size: 80px;
    position: absolute;
    text-align: center;
    z-index: 100;
}


.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: container1;
    animation-duration: 100s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

.container2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: container2;
    animation-duration: 80s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

.container3 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: container3;
    animation-duration: 100s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

.container4 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: container4;
    animation-duration: 100s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

.container5 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: container5;
    animation-duration: 80s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}


@keyframes container1 {
     0%  {transform: translate(-500px, 400px) rotate(-20deg)}
     25% {transform: translate(-400px, 300px) rotate(100deg)}
    50% {transform: translate(-300px, 0px) rotate(200deg)}
    75% {transform: translate(0px, 200px) rotate(400deg)}
    100% {transform: translate(300px, -400px) rotate(500deg)}
}

@keyframes container2 {
    0%   {transform: translate(500px, 400px) rotate(10deg);}
    25%  {transform: translate(600px, 300px) rotate(25deg);}
    50%  {transform: translate(650px, 100px) rotate(50deg);}
    75%  {transform: translate(600px, 0px) rotate(90deg);}
    100% {transform: translate(400px, -200px)rotate(180deg);}
}

@keyframes container3 {
    0%   {transform: rotate(90deg) translate(-400px,500px);}
    25%  {transform: rotate(60deg) translate(-300px,600px);}
    50%  {transform: rotate(50deg) translate(-200px,700px);}
    75%  {transform: rotate(90deg) translate(-100px,200px);}
    100% {transform: rotate(180deg) translate(100px,300px);}
}

@keyframes container4 {
    0%   {transform: rotate(45deg) translate(100px,-500px);}
    25%  {transform: rotate(120deg) translate(200px,-400px);}
    50%  {transform: rotate(180deg) translate(300px,-500px);}
    75%  {transform: rotate(225deg) translate(500px,-600px);}
    100% {transform: rotate(360deg) translate(10000px,-700px);}
}

@keyframes container5 {
    0%   {transform: rotate(90deg) translate(0px,0px);}
    25%  {transform: rotate(80deg) translate(0px,0px);}
    50%  {transform: rotate(50deg) translate(0px,0px);}
    75%  {transform: rotate(90deg) translate(0px,0px);}
    100% {transform: rotate(180deg) translate(0px,0px);}
}

@keyframes line1 {
    0%   {transform: translateX(-10px);}
    100% {transform: translateX(-510px);}
}
@keyframes line2 {
    0%   {transform: translateX(-10px);}
    100% {transform: translateX(-360px);}
}

@keyframes ball1{
    0%   {transform: scale(1,1);}
    100% {transform: scale(1.5,1.5);}
}

@keyframes ball2{
    0%   {transform: scale(1,1) translateX(-15px);}
    100% {transform: scale(1.5,1.5)  translateX(-15px);}
}

.bigline {
    width: 500px;
    height: 3px;
    background-color: #4c5b6150;
}

.circleone {
    width: 15px;
    height: 15px;
    background-color: #4c5b6150;
    border-radius: 50%;
    animation-name: ball1;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;

}

.circletwo {
    width: 15px;
    height: 15px;
    background-color: #4c5b6150;
    border-radius: 50%;
    animation-name: ball2;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
}

.lineone {
    height: 15px;
    width: 5px;
    border-radius: 15%;
    background-color: #4c5b6150;
    animation-name: line1;
    animation-duration: 15s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

.linetwo {
    height: 15px;
    width: 5px;
    border-radius: 15%;
    background-color: #4c5b6150;
    animation-name: line1;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
}

.linethree {
    height: 15px;
    width: 5px;
    border-radius: 15%;
    background-color: #4c5b6150;
    animation-name: line1;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
}